<div class="detalle-voluntariado">
    <header>
      <h2>Detalle del Voluntariado</h2>
      <div>
        <button class="btn btn-secondary" (click)="retroceder()">Retroceder</button>
        <button
        class="btn btn-success"
        *ngIf="!isMentor && voluntariado.estado_dinamico === 'Pendiente'"
        (click)="aprobarVoluntariado()"
      >
        Aprobar Voluntariado
      </button>
      
        <button
          class="btn btn-danger"
          *ngIf="!isMentor"
          (click)="cerrarVoluntariado()"
        >
          Cerrar Voluntariado
        </button>
      </div>
    </header>
  
    <form>
      <div>
        <label>Nombre:</label>
        <input [value]="voluntariado.nombre" disabled />
      </div>
      <div>
        <label>Tipo:</label>
        <input [value]="voluntariado.tipo" disabled />
      </div>
      <div>
        <label>Estado:</label>
        <input [value]="voluntariado.estado_dinamico" disabled />
      </div>
    </form>
  
    <h3>Voluntarios</h3>
    <button
      class="btn btn-success btn-sm mb-3"
      (click)="abrirModal(voluntariado.id)"
    >
      Asignar Voluntario
    </button>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>DNI</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voluntario of voluntarios">
          <td>{{ voluntario.id }}</td>
          <td>{{ voluntario.nombre }}</td>
          <td>{{ voluntario.dni }}</td>
          <td class="actions">
            <button class="btn btn-primary btn-sm" (click)="abrirDetalleVoluntario(voluntario)">Ver</button>
            <button
              class="btn btn-warning"
              (click)="desasignarVoluntario(voluntario.id)"
            >
              Desasignar
            </button>
            <button
              class="btn btn-secondary"
              (click)="abrirFeedback(voluntario.id)"
            >
              Ver Feedback
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <h3>Evidencias</h3>
    <button class="btn btn-primary mb-3" *ngIf="isMentor" (click)="registrarEvidencia()">
      Registrar Evidencia
    </button>
    
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evidencia of evidencias">
          <td>{{ evidencia.fecha_evidencia | date: 'dd/MM/yyyy' }}</td>
          <td>{{ evidencia.descripcion }}</td>
          <td>
        
            <button class="btn btn-info" (click)="abrirDetalleEvidencia(evidencia.id)">Ver</button>

            <button
              class="btn btn-danger"
              *ngIf="isMentor"
              (click)="confirmarEliminarEvidencia(evidencia.id)"
            >
              Eliminar
            </button>
          </td>
          
        </tr>
      </tbody>
    </table>
  
    <h3>Asistencias</h3>
    <button class="btn btn-primary mb-3" *ngIf="isMentor">
      Registrar Asistencia
    </button>
    <table>
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Total Asistentes</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asistencia of asistencias">
          <td>{{ asistencia.fecha_asistencia }}</td>
          <td>{{ asistencia.total_asistentes }}</td>
          <td>
            <button class="btn btn-info">Ver</button>
            <button class="btn btn-warning" *ngIf="isMentor">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
       <!-- Modal -->
       <app-asignar-voluntario-modal
       *ngIf="modalAbierto"
       [idVoluntariado]="idVoluntariadoSeleccionado"
       (actualizarVoluntarios)="actualizarListaVoluntarios()"
       (cerrarModal)="cerrarModal()"
     ></app-asignar-voluntario-modal>
  

  
   <!-- Tabla de Voluntarios -->
<!-- <div class="table-responsive">
    <table class="table table-striped table-hover align-middle">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voluntario of voluntarios">
          <td>{{ voluntario.nombre }}</td>
          <td>{{ voluntario.rol }}</td>
          <td>{{ voluntario.correo }}</td>
          <td>{{ voluntario.telefono }}</td>
          <td>
            <button class="btn btn-primary btn-sm" (click)="abrirDetalleVoluntario(voluntario)">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   -->
  <!-- Modal Detalle Voluntario -->
  <div class="modal" [ngClass]="{ 'd-block': modalDetalleVoluntarioAbierto }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle del Voluntario</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarDetalleVoluntario()"></button>
        </div>
        <div class="modal-body">
          <p><strong>Nombre:</strong> {{ voluntarioSeleccionado?.nombre }}</p>
          <p><strong>Rol:</strong> {{ voluntarioSeleccionado?.rol }}</p>
          <p><strong>Correo:</strong> {{ voluntarioSeleccionado?.correo }}</p>
          <p><strong>Teléfono:</strong> {{ voluntarioSeleccionado?.celular }}</p>
          <p><strong>Área:</strong> {{ voluntarioSeleccionado?.area }}</p>
          <p><strong>Situación Académica:</strong> {{ voluntarioSeleccionado?.grado_instruccion }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarDetalleVoluntario()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal" [ngClass]="{ 'd-block': modalDetalleEvidenciaAbierto }">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Detalle de la Evidencia</h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="cerrarDetalleEvidencia()"></button>
        </div>
        <div class="modal-body">
          <p><strong>Fecha:</strong> {{ evidenciaSeleccionada?.fecha_evidencia | date: 'dd/MM/yyyy' }}</p>

          <p><strong>Descripción:</strong> {{ evidenciaSeleccionada?.descripcion }}</p>
          <p><strong>Incidentes:</strong> {{ evidenciaSeleccionada?.incidentes }}</p>
          <p><strong>Asistencia de Mentores:</strong> {{ evidenciaSeleccionada?.asistencia_mentores }}</p>
          <p><strong>Asistencia de Voluntarios:</strong> {{ evidenciaSeleccionada?.asistencia_voluntarios }}</p>
          <p><strong>Porcentaje de Participación:</strong> {{ evidenciaSeleccionada?.porcentaje_participacion }}%</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarDetalleEvidencia()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  