<!-- <div class="container mt-3">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col">
          <label for="dni" class="form-label">DNI (8 dígitos)</label>
          <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="DNI" required>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre" required>
        </div>
        <!-- <div class="col">
          <label for="apellido_paterno" class="form-label">Apellido Paterno</label>
          <input type="text" class="form-control" id="apellido_paterno" formControlName="apellido_paterno" placeholder="Apellido Paterno" required>
        </div>
        <div class="col">
          <label for="apellido_materno" class="form-label">Apellido Materno</label>
          <input type="text" class="form-control" id="apellido_materno" formControlName="apellido_materno" placeholder="Apellido Materno" required>
        </div> -->
      <!-- </div>
  

  
      <div class="row mb-3">
        <div class="col">
          <label for="correo" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo Electrónico" required>
        </div>
        <div class="col">
          <label for="telefono" class="form-label">Teléfono (9 dígitos)</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono" required>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col">
          <label for="tipo_usuario" class="form-label">Tipo de Usuario</label>
          <select class="form-select" formControlName="tipo_usuario" required>
            <option value="" disabled selected>Selecciona un tipo de usuario</option>
            <option value="administrador_del_sistema">Administrador del Sistema</option>
            <option value="rrhh">RRHH</option>
            <option value="voluntario">Voluntario</option>
          </select>
        </div>
      </div>
      <app-modal></app-modal>
      <div class="row mb-3">
        <div class="col">
          <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
    </form>

  </div> --> 
  <div class="container mt-3">
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col">
          <label for="dni" class="form-label">DNI (8 dígitos)</label>
          <input type="text" class="form-control" id="dni" formControlName="dni" placeholder="DNI">
          <div *ngIf="registroForm.controls['dni'].invalid && (registroForm.controls['dni'].dirty || registroForm.controls['dni'].touched)" class="text-danger">
            El DNI es requerido y debe tener 8 dígitos.
          </div>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre">
          <div *ngIf="registroForm.controls['nombre'].invalid && (registroForm.controls['nombre'].dirty || registroForm.controls['nombre'].touched)" class="text-danger">
            El nombre es requerido.
          </div>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <label for="correo" class="form-label">Correo Electrónico</label>
          <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="Correo Electrónico">
          <div *ngIf="registroForm.controls['correo'].invalid && (registroForm.controls['correo'].dirty || registroForm.controls['correo'].touched)" class="text-danger">
            El correo es requerido y debe ser una dirección válida.
          </div>
        </div>
        <div class="col">
          <label for="telefono" class="form-label">Teléfono (9 dígitos)</label>
          <input type="text" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono">
          <div *ngIf="registroForm.controls['telefono'].invalid && (registroForm.controls['telefono'].dirty || registroForm.controls['telefono'].touched)" class="text-danger">
            El teléfono es requerido y debe tener 9 dígitos.
          </div>
        </div>
      </div>
  
      <div class="row mb-3">
        <div class="col">
          <label for="tipo_usuario" class="form-label">Tipo de Usuario</label>
          <select class="form-select" id="tipo_usuario" formControlName="tipo_usuario">
            <option value="" disabled>Selecciona un tipo de usuario</option>
            <option value="ADMINISTRADOR">Administrador del Sistema</option>
            <option value="RRHH">RRHH</option>
            <option value="VOLUNTARIO">VOLUNTARIO</option>
          </select>
          <div *ngIf="registroForm.controls['tipo_usuario'].invalid && (registroForm.controls['tipo_usuario'].dirty || registroForm.controls['tipo_usuario'].touched)" class="text-danger">
            Debes seleccionar un tipo de usuario.
          </div>
        </div>
      </div>

      <app-modal id="RegistroModal"></app-modal>
      
      <div class="row mb-3">
        <div class="col">
          <button type="submit" class="btn btn-primary" [disabled]="registroForm.invalid">Guardar</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancelar</button>
        </div>
      </div>
    </form>
</div>
