<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Correo</th>
        <th>Teléfono</th>
        <th>Tipo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
        <td>{{ usuario.id }}</td>
        <td>{{ usuario.apellido_paterno}}{{" "}} {{usuario.apellido_materno}} {{" "}}{{usuario.nombre}} </td>
        <td>{{ usuario.dni }}</td>
        <td>{{ usuario.correo }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.tipo_usuario }}</td>
        <td >{{ usuario.estado_usuario?'ACTIVO':'INACTIVO'}}</td>
        <td>
          <button (click)="editarUsuario(usuario)">Editar</button>
          <button (click)="cambiarEstadoUsuario(usuario)">
            {{ usuario.estado === 'activo' ? 'Dar de baja' : 'Dar de alta' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>