<div class="container">
    <h1 class="text-center mb-4">Listado de Ingresos</h1>
    <button class="btn btn-primary mb-3" (click)="registrarIngreso()">Registrar Ingreso</button>
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Tipo de Ingreso</th>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Voluntariado Asignado</th>
          <th>Benefactor</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        
        <tr *ngFor="let ingreso of ingresos">
          <td>{{ ingreso.tipo_ingreso }}</td>
          <td>{{ ingreso.concepto }}</td>
          <td>{{ ingreso.fecha_ingreso | date: 'dd/MM/yyyy'}}</td>
          <td>{{ ingreso.voluntariado_asignado || 'Sin Asignar' }}</td>
          <td>{{ ingreso.benefactor_nombre }}</td>
          <td>
            <button
            class="btn btn-warning me-2"
            (click)="editarIngreso(ingreso.id)"
          >
            Editar
          </button>
          <button
          class="btn btn-primary"
          [disabled]="ingreso.tipo_ingreso !== 'DONACIONES'"
          (click)="verProductos(ingreso.id)"
        >
          Ver Productos
        </button>
            <button class="btn btn-success" (click)="openAsignacionModal(ingreso.id)">Asignar Voluntariado</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Modal -->
  <div id="asignarModal" class="modal" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Asignar Voluntariado</h5>
          <button type="button" class="btn-close" (click)="closeAsignarModal()"></button>
        </div>
        <div class="modal-body">
          <label for="voluntariado">Voluntariado</label>
          <select id="voluntariado" [(ngModel)]="selectedVoluntariado" class="form-control">
            <option value="" disabled>Seleccione un voluntariado</option>
            <option *ngFor="let voluntariado of voluntariados" [value]="voluntariado.id">{{ voluntariado.nombre }}</option>
          </select>
          <label for="porcentaje" class="mt-3">Porcentaje (opcional)</label>
          <input id="porcentaje" type="number" [(ngModel)]="porcentaje" class="form-control" />
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="asignarVoluntariado()">Guardar</button>
          <button class="btn btn-secondary" (click)="closeAsignarModal()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
 