.modal-dialog {
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 1rem); /* Centrado vertical */
}

.modal-content {
  margin-top: 2rem; /* Separación adicional arriba */
}

.modal-body {
  padding: 1.5rem;
}

.table {
  font-size: 0.9rem;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
}
