.form-container {
    max-width: 100%; /* Ocupa todo el ancho disponible */
    padding: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    padding: 10px;
    font-size: 16px;
  }
  
  .form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 16px;
  }
  