.flex-container {
  display: flex;
}

#sidebar {
  transition: width 0.3s ease;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background: rgb(180, 0, 54);
  color: #ffffff;
  z-index: 1000;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

#sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.logo-text {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
}

.navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin: 10px 0;
}

.nav-link {
  display: flex;
  align-items: center;
  color: #efefef;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-link i {
  font-size: 18px;
  margin-right: 10px;
}

.link-text {
  white-space: nowrap;
}

.content {
  margin-left: 250px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

#sidebar.collapsed ~ .content {
  margin-left: 80px;
}

.user-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-menu i {
  font-size: 24px;
  color: #333;
}

.user-menu-dropdown {
  position: absolute;
  top: 40px; /* Ajusta la posición según necesites */
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  min-width: 150px; /* Establece un ancho mínimo */
  white-space: nowrap; /* Evita los saltos de línea */
}



.user-menu-dropdown span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  color: #333;
}

.user-menu-dropdown button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.user-menu-dropdown button:hover {
  background: #0056b3;
}

@media (max-width: 768px) {
  #sidebar {
    width: 80px;
  }

  #sidebar .link-text {
    display: none;
  }

  .content {
    margin-left: 80px;
  }
}

.submenu {
  list-style: none;
  padding-left: 20px;
  display: none;
}

.submenu.open {
  display: block;
}

.submenu .nav-link {
  padding-left: 10px;
}
