<!-- <div class="flex-container">
    <aside id="sidebar">
        <nav class="navbar navbar-dark">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/dashboard">KURURAY LLACTAY</a>
              </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH' ">
              <a routerLink="/voluntarios">Voluntarios</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
              <a routerLink="/voluntariados">Voluntariados</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
              <a routerLink="/beneficiarios">Beneficiarios</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
              <a routerLink="/benefactores">Benefactores</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
              <a routerLink="/conttipo_usuario-financiero">Conttipo_usuario Financiero</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
              <a routerLink="/reportes">Reportes</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
              <a routerLink="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
              <a routerLink="/variables-sistema">Variables del Sistema</a>
            </li>
            <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
              <a routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
            </li>
          </ul>
        </nav>
    
        <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'voluntario'">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/voluntarios">Mis Voluntariados</a>
            </li>
            <li class="nav-item">
              <a routerLink="/voluntarios">Mis Datos</a>
            </li>
            <li class="nav-item">
              <a routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
            </li>
          </ul>
        </nav>
        <nav *ngIf="tipo_usuario === 'mentor'">
          <ul>
            <li class="nav-item">
              <a routerLink="/voluntarios">Voluntariados</a>
            </li>
            <li class="nav-item">
              <a routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
            </li>
          </ul>
        </nav>
    </aside>

    <div class="content">
        <!-- Aquí Angular renderizará el componente correspondiente a la ruta activa -->
        <!-- <router-outlet></router-outlet>
    </div>
</div>
<div class="logout-button">
    <button class="btn btn-light btn-sm" (click)="logout()">Cerrar Sesión</button>
</div> --> 
<!-- <div class="flex-container">
  <aside id="sidebar" [class.active]="!sidebarActive"> -->
      <!-- Botón para alternar la visibilidad del sidebar, visible en pantallas pequeñas -->
      <!-- <button class="btn btn-dark btn-sm toggle-button" (click)="toggleSidebar()">Toggle Menu</button>
      
      <nav class="navbar navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/dashboard">KURURAY LLACTAY</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntarios">Voluntarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntariados">Voluntariados</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/beneficiarios">Beneficiarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/benefactores">Benefactores</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/contabilidad-financiero">Contabilidad Financiero</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/reportes">Reportes</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/usuarios">Usuarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/variables-sistema">Variables del Sistema</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
      <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'voluntario'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-voluntariados">Mis Voluntariados</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-datos">Mis Datos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
      <nav *ngIf="tipo_usuario === 'mentor'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mentor-voluntariados">Voluntariados</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
  </aside>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="logout-button">
  <button class="btn btn-light btn-sm" (click)="logout()">Cerrar Sesión</button>
</div> -->
<!-- <div class="flex-container">
  <aside id="sidebar" [class.active]="sidebarActive">
      <div class="sidebar-header">
          <button class="btn btn-dark btn-sm toggle-button" (click)="toggleSidebar()">
              <span class="menu-icon">&#9776;</span> <!-- Ícono de menú -->
          <!-- </button>
          <a class="nav-link" routerLink="/dashboard">KURURAY LLACTAY</a>
      </div>

      <nav class="navbar navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">
                  <i class="fas fa-tachometer-alt"></i>
                  <span class="link-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntarios">Voluntarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntariados"> <i class="fas fa-users"></i>Voluntariados</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/beneficiarios">Beneficiarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/benefactores">Benefactores</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/contabilidad-financiero">Contabilidad Financiero</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/reportes">Reportes</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/usuarios">Usuarios</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/variables-sistema">Variables del Sistema</a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
      <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'voluntario'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-voluntariados">Mis Voluntariados</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-datos">Mis Datos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
      <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'mentor'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mentor-voluntariados">Voluntariados</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/actualizar-contrasena">Actualizar Mi Contraseña</a>
              </li>
          </ul>
      </nav>
  </aside>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="logout-button">
  <button class="btn btn-light btn-sm" (click)="logout()">Cerrar Sesión</button>
</div> --> 

<div class="flex-container">
  <aside id="sidebar" [class.active]="sidebarActive">
      <div class="sidebar-header">
          <button class="btn btn-dark btn-sm toggle-button" (click)="toggleSidebar()">
              <span class="menu-icon">&#9776;</span> <!-- Ícono de menú -->
          </button>
          <a class="nav-link" routerLink="/dashboard">KURURAY LLACTAY</a>
      </div>

      <nav class="navbar navbar-dark">
          <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard">
                  <i class="fas fa-tachometer-alt"></i>
                  <span class="link-text">Dashboard</span>
                </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntarios">
                    <i class="fas fa-hand-holding-heart"></i>
                    <span class="link-text">Voluntarios</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/voluntariados">
                    <i class="fas fa-users"></i>
                    <span class="link-text">Voluntariados</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/beneficiarios">
                    <i class="fas fa-user-friends"></i>
                    <span class="link-text">Beneficiarios</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/benefactores">
                    <i class="fas fa-donate"></i>
                    <span class="link-text">Benefactores</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                  <a class="nav-link" routerLink="/contabilidad-financiero">
                    <i class="fas fa-file-invoice-dollar"></i>
                    <span class="link-text">Contabilidad Financiero</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/reportes">
                    <i class="fas fa-chart-line"></i>
                    <span class="link-text">Reportes</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/usuarios">
                    <i class="fas fa-user-cog"></i>
                    <span class="link-text">Usuarios</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
                  <a class="nav-link" routerLink="/variables-sistema">
                    <i class="fas fa-cogs"></i>
                    <span class="link-text">Variables del Sistema</span>
                  </a>
              </li>
              <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
                <a class="nav-link" [routerLink]="['/usuarios', id, 'actualizar-clave']">
                  <i class="fas fa-key"></i>
                  <span class="link-text">Actualizar Mi Contraseña</span>
                </a>
              </li>
          </ul>
      </nav>
      <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'VOLUNTARIO'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-voluntariados">
                    <i class="fas fa-heart"></i>
                    <span class="link-text">Mis Voluntariados</span>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mis-datos">
                    <i class="fas fa-id-card"></i>
                    <span class="link-text">Mis Datos</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/usuarios', id, 'actualizar-clave']">
                  <i class="fas fa-key"></i>
                  <span class="link-text">Actualizar Mi Contraseña</span>
                </a>
              </li>
          </ul>
      </nav>
      <nav class="navbar navbar-dark" *ngIf="tipo_usuario === 'mentor'">
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="/mentor-voluntariados">
                    <i class="fas fa-chalkboard-teacher"></i>
                    <span class="link-text">Voluntariados</span>
                  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" [routerLink]="['/usuarios', id, 'actualizar-clave']">
                  <i class="fas fa-key"></i>
                  <span class="link-text">Actualizar Mi Contraseña</span>
                </a>
              </li>
          </ul>
      </nav>
  </aside>

  <div class="content">
      <router-outlet></router-outlet>
  </div>
</div>

<div class="logout-button">
  <button class="btn btn-light btn-sm" (click)="logout()">Cerrar Sesión</button>
</div>
