
  #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #333; /* Color de fondo oscuro */
    color: white;
    overflow-y: auto;
  }
  
  #sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sidebar nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  #sidebar nav ul li a:hover, #sidebar nav ul li a:focus {
    background-color: #555; /* Color de fondo al pasar el mouse */
    color: white;
  }
  .flex-container {
    display: flex;
}

.content {
    margin-left: 250px; /* Mismo ancho que el sidebar */
    padding: 20px; /* Añade un poco de espacio */
    /* Añade más estilos si lo necesitas */
}
  .logout-button {
    text-align: right;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .logout-button button {
    background-color: #f44336; /* Color de fondo rojo */
    color: white; /* Color del texto blanco */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  