<div class="flex-container">
  <aside id="sidebar" [class.active]="sidebarActive" [class.collapsed]="sidebarCollapsed">
    <div class="sidebar-header">
      <button class="btn btn-dark btn-sm toggle-button" (click)="toggleSidebar()">
        <span class="menu-icon">&#9776;</span>
      </button>
      <span class="logo-text" *ngIf="!sidebarCollapsed">KURURAY LLACTAY</span>
    </div>

    <nav class="navbar navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="tipo_usuario === 'VOLUNTARIO'">
          <a 
            class="nav-link" 
            [routerLink]="['/mi-informacion-voluntario', id]">
            <i class="fas fa-user"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Mi Información</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'VOLUNTARIO'">
          <a class="nav-link" routerLink="/mis-voluntariados">
            <i class="fas fa-clipboard-list"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Mis Voluntariados</span>
          </a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-tachometer-alt"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
          <a class="nav-link" routerLink="/voluntarios">
            <i class="fas fa-user-cog"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Voluntarios</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH' || tipo_usuario === 'MENTOR'">
          <a class="nav-link" routerLink="/voluntariados">
            <i class="fas fa-users"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Voluntariados</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
          <a class="nav-link" routerLink="/beneficiarios">
            <i class="fas fa-user-friends"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Beneficiarios</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
          <a class="nav-link" routerLink="/benefactores">
            <i class="fas fa-donate"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Benefactores</span>
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="tipo_usuario === 'ADMINISTRADOR' || tipo_usuario === 'RRHH'">
          <a class="nav-link" (click)="toggleFinancieroSubmenu()">
            <i class="fas fa-file-invoice-dollar"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Contabilidad Financiero</span>
            <i [class]="financieroSubmenuOpen ? 'fas fa-chevron-down' : 'fas fa-chevron-right'" *ngIf="!sidebarCollapsed"></i>
          </a>
          <ul class="submenu" [class.open]="financieroSubmenuOpen">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contabilidad-financiera/ingresos">
                <i class="fas fa-money-bill-wave"></i>
                <span class="link-text" *ngIf="!sidebarCollapsed">Ingresos</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contabilidad-financiera/gastos">
                <i class="fas fa-coins"></i>
                <span class="link-text" *ngIf="!sidebarCollapsed">Gastos</span>
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
          <a class="nav-link" routerLink="/reportes">
            <i class="fas fa-chart-line"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Reportes</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
          <a class="nav-link" routerLink="/usuarios">
            <i class="fas fa-user-cog"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Usuarios</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="tipo_usuario === 'ADMINISTRADOR'">
          <a class="nav-link" routerLink="/variables-sistema">
            <i class="fas fa-cogs"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Variables del Sistema</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/usuarios', id, 'actualizar-clave']">
            <i class="fas fa-key"></i>
            <span class="link-text" *ngIf="!sidebarCollapsed">Actualizar Mi Contraseña</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <div class="user-menu">
    <i class="fas fa-user-circle" (click)="toggleDropdown()"></i>
    <div class="user-menu-dropdown" *ngIf="dropdownOpen">
      <span>{{ nombreUsuario || 'Usuario' }}</span>
      <button class="btn btn-outline-secondary btn-sm" (click)="logout()">Cerrar Sesión</button>
    </div>
  </div>
  
