<div class="card-container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <button class="btn btn-new-benefactor ms-3" (click)="nuevoBeneficiario()">Nuevo Beneficiario</button>
  </div>
  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped table-hover align-middle">
        <thead class="thead-highlight">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Tipo</th>
            <th>Representante</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Género</th>
            <th>Edad</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let beneficiario of beneficiarios">
            <td>{{ beneficiario.id }}</td>
            <td>{{ beneficiario.nombre || '-' }}</td>
            <td>{{ beneficiario.dni || '-' }}</td>
            <td>{{ beneficiario.tipo }}</td>
            <td>{{ beneficiario.representante || '-' }}</td>
            <td>{{ beneficiario.direccion || '-' }}</td>
            <td>{{ beneficiario.telefono || '-' }}</td>
            <td>{{ beneficiario.email || '-' }}</td>
            <td>{{ beneficiario.genero || '-' }}</td>
            <td>{{ beneficiario.edad || '-' }}</td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="editarBeneficiario(beneficiario.id)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls class="pagination justify-content-center" (pageChange)="onPageChange($event)"></pagination-controls>
  </div>
</div>
