.badge {
    color: white;
    background-color: #007bff; /* Ejemplo para un color de fondo azul */
}

.badge-success {
    background-color: green; /* o cualquier otro color que prefieras */
}

.badge-danger {
    background-color: red; /* o cualquier otro color que prefieras */
}
.card-container {
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}
/* Estilos para el botón "Nuevo Usuario" */
.nuevo-usuario-btn {
    /* Ajusta los estilos según tus preferencias */
    font-size: 1.2rem;
    background-color: #28a745; /* Color verde */
    border-color: #28a745;
    color: #fff; /* Texto en blanco */
  }
  
  /* Estilos adicionales para hacer la tabla responsiva */
  .table-responsive {
    overflow-x: auto;
  }
  th span {
    vertical-align: middle; /* Alinea las flechas verticalmente con el texto */
    margin-left: 5px; /* Añade un poco de espacio entre el texto y las flechas */
    font-size: 0.85em; /* Ajusta el tamaño de las flechas, si es necesario */
    color: #007bff; /* Cambia el color de las flechas, si lo deseas */
  }

  .custom-btn {
    display: block; /* Hace que el botón ocupe toda la celda */
    width: 100%; /* Asegura que el botón se expanda para llenar la celda */
    white-space: nowrap; /* Previene que el texto se ajuste a líneas nuevas */
    overflow: hidden; /* Oculta el contenido que se desborde */
    text-overflow: ellipsis; /* Añade puntos suspensivos si el contenido se desborda */
    margin: auto; /* Centra el botón dentro de la celda si hay espacio adicional */
  }
  .btn-container {
    display: flex;
    justify-content: start;
    gap: 10px; /* Controla el espacio entre botones */
  }
  .btn-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px; /* Controla el espacio entre botones */
  }